$font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

$white: #fff;
$background: #101357;
$lightblue: #5efbda;

html,
body {
  font-family: $font;
}

.container {
  width: 1870px;
  min-width: 1870px;
  margin: 0 auto;

  @media (max-width: 1440px) {
    width: 1280px;
    min-width: 1280px;
  }
  @media (max-width: 1280px) {
    width: 976px;
    min-width: 976px;
  }
  @media (max-width: 976px) {
    width: 768px;
    min-width: 768px;
  }
}

header {
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 10;
  .inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    .navigation {
      nav {
        a {
          margin: 0 20px;
          text-decoration: none;
          letter-spacing: 1.75px;
          text-transform: uppercase;
          font-size: 1rem;
          color: $white;
          font-family: $font;
          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }
  }
}

.intro-container {
  top: 80px;
  width: 100%;
  height: 70%;
  position: absolute;
  z-index: 20;
  .sentence_opener {
    color: $lightblue;
    margin-top: 6%;
    background-color: $background;
    font-weight: bold;
    font-size: 30px;
    font-family: $font;
    text-indent: 26%;
  }
  .introduction {
    color: $white;
    background-color: $background;
    font-weight: bold;
    font-size: 60px;
    font-family: $font;
    text-indent: 26%;
  }
  .what-I-Do {
    color: $white;
    background-color: $background;
    font-weight: bold;
    font-size: 60px;
    font-family: $font;
    text-indent: 26%;
  }
  .description-1 {
    color: $white;
    margin-top: 1%;
    background-color: $background;
    font-size: 25px;
    font-family: $font;
    text-indent: 26%;
  }
  .description-2 {
    color: $white;
    background-color: $background;
    font-size: 25px;
    font-family: $font;
    text-indent: 26%;
  }
}
