//General
$font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

$white: #fff;
$background: #101357;
$lightblue: #5efbda;

html,
body {
  font-family: $font;
  width: 100%;
  background-color: $background;
}

.background {
  background: $background;
  width: 100%;
  height: 500vh;
}
//Nav bar
.container {
  width: 1870px;
  height: 500vh;
  min-width: 1870px;
  margin: 0 auto;
  z-index: -1;

  @media (max-width: 1870px) {
    width: 1760px;
    min-width: 1760px;
    .header-container {
      width: 1760px;
      min-width: 1760px;
    }
  }

  @media (max-width: 1760px) and (min-width: 1471px) {
    width: 1470px;
    min-width: 1470px;
    .header-container {
      width: 1470px;
      min-width: 1470px;
    }
    .me {
      height: 300px !important;
      width: 400px !important;
      object-fit: contain !important;
    }
  }

  @media (max-width: 1470px) {
    width: 1280px;
    min-width: 1280px;
    .header-container {
      width: 1280px;
      min-width: 1280px;
    }
    .me {
      height: 300px !important;
      width: 400px !important;
      object-fit: contain !important;
    }
  }
  @media (max-width: 1280px) {
    width: 976px;
    min-width: 976px;

    .header-container {
      width: 976px;
      min-width: 976px;
    }
    .me {
      height: 250px !important;
      width: 350px !important;
      object-fit: contain !important;
    }

    @media (max-width: 1250px) {
      .me-all {
        margin-right: 8% !important;
      }
    }
  }

  @media (max-width: 1035px) and (min-width: 500px) {
    .about-line {
      display: none !important;
    }
    .experience-line {
      display: none !important;
    }

    .projects-line {
      display: none !important;
    }
  }

  @media (max-width: 976px) and (min-width: 481px) {
    width: 768px;
    min-width: 768px;

    .header-container {
      width: 768px;
      min-width: 768px;
    }
    .me-all {
      margin-right: 15% !important;
      width: 70% !important;
    }
  }

  @media (max-width: 1250px) {
    .projects-line {
      display: none;
    }
  }
}

//Socials
.github {
  height: 4%;
  width: 4%;
  fill: #ffffff;
  position: fixed;
  bottom: 12%;
  left: 0;
  z-index: 20;
}

.linkedin {
  height: 4%;
  width: 4%;
  fill: #ffffff;
  position: fixed;
  bottom: 4%;
  left: 0;
  z-index: 20;
}

//Logo Full Screen
.logo {
  top: 7%;
}

//Header Full Screen
header {
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 10;
  .header-container {
    width: 1870px;
    min-width: 1870px;
    margin: 0 auto;
    z-index: -1;
    .inner-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 80px;
      .navigation {
        nav {
          a {
            margin: 0 20px;
            text-decoration: none;
            letter-spacing: 1.75px;
            text-transform: uppercase;
            font-size: 1rem;
            color: $white;
            font-family: $font;
            &:last-child {
              margin-right: 0px;
            }
          }
        }
      }
    }
  }
}

//Intro Full Screen
.intro-container {
  display: flex;
  flex-direction: column;
  top: 80px;
  width: 100%;
  height: 70%;
  position: absolute;
  z-index: 20;
  .sentence_opener {
    color: $lightblue;
    margin-top: 6%;
    background-color: $background;
    font-weight: bold;
    font-size: 3vw;
    font-family: $font;
    text-indent: 26%;
  }
  .introduction {
    color: $white;
    background-color: $background;
    font-weight: bold;
    font-size: 3vw;
    font-family: $font;
    text-indent: 26%;
  }
  .what-I-Do {
    color: $white;
    background-color: $background;
    font-weight: bold;
    font-size: 3vw;
    font-family: $font;
    text-indent: 26%;
  }
  .description-container {
    .description-1 {
      color: $white;
      margin-top: 1%;
      background-color: $background;
      font-size: 1.5vw;
      font-family: $font;
      width: 40%;
      display: block;
      margin-left: 26%;
    }
  }
}

//About me full screen
.about-me-container {
  z-index: 20;
  display: flex;
  flex-direction: row;
  margin-top: 1000px;
  width: 100%;
  height: 56%;
  position: absolute;
  background-color: $background;
  .me {
    width: 100vw;
    //min-height: 400px !important;
    //min-width: 500px !important;
    margin-right: 10%;
  }

  .me-all {
    max-height: 400px !important;
    max-width: 750px;
    margin-left: 15%;
    margin-right: 8%;
    .about-me-title {
      color: $lightblue;
      background-color: $background;
      font-weight: bold;
      font-size: 3vw;
      font-family: $font;
    }
    .about-line {
      display: inline-block;
      vertical-align: middle;
      width: 55%;
      margin-inline-start: 15px !important;
      margin-right: 0% !important;
    }

    .about-me-description {
      color: $white;
      margin-top: 1%;
      background-color: $background;
      font-size: 1.5vw;
      font-family: $font;
      display: flex;
    }
  }
}

//Experience full screen
.experience-container {
  z-index: 20;
  display: flex;
  flex-direction: row;
  margin-top: 2000px;
  width: 100%;
  height: 56%;
  position: absolute;
  background-color: $background;
  .experience-all {
    max-height: 400px !important;
    max-width: 750px;
    margin-left: 25%;
    .experience-position {
      color: $white;
      font-family: $font;
      font-size: 1.5vw;
    }
    .experience-date {
      color: $white;
      font-family: $font;
      font-size: 1.5vw;
    }
    .experience-title {
      color: $lightblue;
      background-color: $background;
      font-weight: bold;
      font-size: 3vw;
      font-family: $font;
    }
    .experience-line {
      display: inline-block;
      vertical-align: middle;
      width: 55%;
      margin-inline-start: 15px !important;
      margin-right: 0% !important;
    }
    .experience-list {
      display: block;
      position: relative;
      width: max-content;
      list-style-type: none;
      color: $background;
      margin-top: 20px !important;
      margin-left: -5px;
      padding: 0;
    }
    ul > li {
      display: inline-block;
      zoom: 1;
      *display: inline;
    }
  }
  .experience-button-clicked {
    cursor: pointer;
    position: relative;
    display: flex;
    background-color: $background;
    color: $lightblue;
    text-decoration: none;
    font-size: 2vw;
    font-family: $font;
    z-index: 30;
    text-decoration-skip-ink: auto;
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    outline: none;
    margin-right: 15px;
  }
  .experience-button-not-clicked {
    cursor: pointer;
    position: relative;
    display: flex;
    background-color: $background;
    color: $white;
    text-decoration: none;
    font-size: 30px;
    font-family: $font;
    z-index: 30;
    text-decoration-skip-ink: auto;
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    outline: none;
    margin-right: 15px;
  }
  .experience-description-list {
    color: $white;
    font-size: 1.25vw;
    list-style: none;
  }
  .experience-description-list li::before {
    content: "\2022";
    color: $white;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  .SE-Environment {
    color: $white;
    font-size: 1.25vw;
  }
}

.projects-container {
  z-index: 20;
  display: flex;
  flex-direction: column;
  margin-top: 3500px;
  width: 100%;
  height: 56%;
  position: absolute;
  background-color: $background;
  .projects-all {
    max-height: 400px !important;
    max-width: 2000px;
    margin-left: 20%;
    .projects-title {
      color: $lightblue;
      background-color: $background;
      font-weight: bold;
      font-size: 3vw;
      font-family: $font;
      margin-left: 15%;
    }
    .project-mobile-explain {
      display: none;
    }
    .projects-line {
      display: inline-block;
      vertical-align: middle;
      width: 30%;
      margin-inline-start: 20px !important;
      margin-right: 0% !important;
    }
  }
}

.individual-project {
  display: inline-block;
  width: 350px;
  height: 350px;
  border: 1px solid $white;
  margin-top: 50px;
  margin-right: 50px;
  background-color: #102457 !important;

  .individual-project-title {
    margin-top: 5px;
    text-align: center;
    font-size: 1.35vw;
    color: $lightblue;
    overflow: hidden;
    white-space: nowrap;
  }

  .individual-project-description {
    margin-top: 5px;
    height: 200px;
    text-align: left;
    margin-left: 15px;
    width: 95%;
    font-size: 1.2vw;
    color: $white;
  }

  .individual-project-languages {
    margin-left: 15px;
    margin-top: 20px;
    font-size: 1.2vw;
    color: #b5b7bc;
    word-spacing: 10px;
  }

  .project-github {
    height: 30px;
    width: 30px;
    fill: #ffffff;
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: none;
  }
}
.individual-project:hover {
  transform: scale(1.15);
  .project-github {
    display: initial;
  }
}

.contact-container {
  z-index: 20;
  display: flex;
  flex-direction: column;
  margin-top: 6200px;
  width: 100%;
  height: 56%;
  position: absolute;
  background-color: $background;
  .contact-all {
    max-height: 400px !important;
    max-width: 750px;
    margin-left: 31%;
    .contact-title {
      color: $lightblue;
      background-color: $background;
      font-weight: bold;
      font-size: 3vw;
      font-family: $font;
    }
    .contact-line {
      display: inline-block;
      vertical-align: middle;
      width: 40%;
      margin-inline-start: 20px !important;
      margin-right: 0% !important;
    }
    .contact-form {
      width: 100%;
      .section1 {
        float: left;
        margin-right: 50px;
        margin-top: -70px;
        .contact-label-name {
          color: $lightblue;
          display: block;
          font-size: 1.5vw;
          width: max-content;
        }
        .contact-input-name {
          margin-bottom: 20px;
          margin-top: 10px;
          background-color: #102457;
          width: 300px;
          height: 50px;
          color: $white;
          font-size: 1vw;
          text-indent: 5px;
          display: block;
        }
      }
      .section2 {
        float: left;
        margin-top: -70px;
        .contact-label-email {
          color: $lightblue;
          display: block;
          font-size: 1.5vw;
          width: max-content;
        }
        .contact-input-email {
          margin-bottom: 20px;
          margin-top: 10px;
          background-color: #102457;
          width: 300px;
          height: 50px;
          color: $white;
          font-size: 1vw;
          text-indent: 5px;
          display: block;
        }
      }
      .contact-label-message {
        color: $lightblue;
        display: block;
        margin-top: 100px;
        font-size: 1.5vw;
        width: max-content;
      }
      .contact-input-message {
        margin-bottom: 20px;
        margin-top: 10px;
        background-color: #102457;
        width: 660px;
        height: 200px;
        color: $white;
        font-size: 1vw;
        text-indent: 5px;
        display: block;
        font-family: $font !important;
        resize: none;
        outline: none;
      }

      .contact-submit-button {
        color: $lightblue;
        background-color: #102457;
        font-family: $font;
        font-size: 2vw;
        width: 20%;
        margin-left: 30%;
      }
    }
  }
}

.footer-container {
  z-index: 20;
  display: flex;
  flex-direction: column;
  margin-top: 6800px;
  width: 100%;
  height: 120px;
  position: absolute;
  background-color: $background;
  .built-by {
    color: $white;
    margin-left: 40%;
    font-size: 2vw;
    margin-bottom: 5px;
  }
  .view-on-github {
    color: $white;

    margin-left: 42%;
    font-size: 2vw;
  }
}

//Mobile view
@media only screen and (max-width: 500px) {
  .navigation {
    display: none;
  }

  .logo {
    left: 9%;
  }

  .github {
    display: none;
  }

  .linkedin {
    display: none;
  }

  header {
    margin-bottom: 2px;
  }

  .intro-container {
    width: 100%;
    .sentence_opener {
      text-indent: 5%;
      font-size: 1.5rem;
      overflow-wrap: break-word;
    }
    .introduction {
      text-indent: 5%;
      font-size: 1.5rem;
      overflow-wrap: break-word;
    }
    .what-I-Do {
      text-indent: 5%;
      font-size: 1.5rem;
      overflow-wrap: break-word;
    }
    .description-container {
      width: 100%;
      .description-1 {
        margin-left: 5%;
        font-size: 1.2rem;
        overflow-wrap: break-word;
        width: 80%;
      }
    }
  }

  .about-me-container {
    width: 100%;
    flex-direction: column;
    .me {
      height: 500px !important;
      width: 92% !important;
      object-fit: contain !important;
      overflow: visible !important;
      margin-left: 3%;
      //margin-right: 3%;
      margin-top: 10px;
    }
    .me-all {
      bottom: 100px !important;
      margin-left: 5%;
      margin-right: 0;
      overflow-wrap: break-word;
      width: 80%;
      .about-me-title {
        font-size: 1.5rem;
      }
      .about-me-description {
        font-size: 1.2rem;
      }
    }
  }
  .experience-container {
    width: 100%;
    overflow: break-word !important;
    .experience-all {
      margin-left: 5%;
      width: 90%;
    }
    .experience-title {
      font-size: 1.5rem !important;
    }
    .experience-button-clicked {
      font-size: 1.3rem !important;
      margin-right: 5px !important;
    }
    .experience-button-not-clicked {
      font-size: 1.3rem !important;
      margin-right: 5px !important;
    }
    .experience-position {
      font-size: 1.2rem !important;
    }
    .experience-date {
      font-size: 1.2rem !important;
    }
    .experience-description {
      left: 0px !important;
      .experience-description-list {
        font-size: 1rem;
      }
    }
    .SE-Environment {
      font-size: 1rem;
    }
  }

  .projects-container {
    width: 100%;
    .projects-all {
      margin-left: 3%;
      width: 90%;
    }
    .projects-title {
      font-size: 1.5rem !important;
    }

    .individual-project {
      width: 100%;
      .individual-project-title {
        font-size: 1.35rem;
      }
      .individual-project-description {
        font-size: 1.2rem;
      }

      .individual-project-languages {
        font-size: 1.2rem;
      }
    }
    .individual-project:hover {
      transform: scale(1.02);
      .project-github {
        display: initial;
        margin-left: 5%;
      }
    }
  }

  .contact-container {
    width: 100%;
    .contact-all {
      margin-left: 3%;
      width: 90%;
    }
    .contact-title {
      font-size: 1.5rem !important;
    }
    .section1 {
      .contact-label-name {
        font-size: 1.35rem !important;
        margin-top: 0px !important;
      }
      .contact-input-name {
        font-size: 1.2rem !important;
        margin-top: 10px !important;
        margin-bottom: 50px !important;
        width: 100% !important;
      }
    }
    .section2 {
      .contact-label-email {
        font-size: 1.35rem !important;
        margin-top: 40px !important;
      }

      .contact-input-email {
        font-size: 1.2rem !important;
        width: 100% !important;
      }
    }
    .contact-label-message {
      font-size: 1.35rem !important;
    }
    .contact-input-message {
      font-size: 1.2rem !important;
      width: 95% !important;
    }
    .contact-submit-button {
      font-size: 1.35rem !important;
      width: 30% !important;
    }
  }
  .footer-container {
    .built-by {
      font-size: 1.35rem !important;
      margin-left: 20%;
    }
    .view-on-github {
      font-size: 1.35rem !important;
      margin-left: 25%;
    }
  }
}
@media (max-width: 414px) {
  .project-mobile-explain {
    display: initial !important;
    color: $white;
    font-size: 1.2rem;
    margin-left: 5%;
  }
}
@media (max-width: 360px) {
  .about-line {
    display: none !important;
  }
  .experience-line {
    display: none !important;
  }

  .projects-line {
    display: none !important;
  }

  .contact-line {
    display: none !important;
  }
}

//iPad View
@media only screen and (max-width: 773px) and (min-width: 481px) {
  .navigation {
    display: none;
  }

  .logo {
    left: 25vw;
  }

  .github {
    display: none;
  }

  .linkedin {
    display: none;
  }

  .intro-container {
    width: 100%;
    .sentence_opener {
      text-indent: 5%;
      font-size: 1.5rem;
      overflow-wrap: break-word;
    }
    .introduction {
      text-indent: 5%;
      font-size: 1.5rem;
      overflow-wrap: break-word;
    }
    .what-I-Do {
      text-indent: 5%;
      font-size: 1.5rem;
      overflow-wrap: break-word;
    }
    .description-container {
      width: 100%;
      .description-1 {
        margin-left: 5%;
        font-size: 1.2rem;
        overflow-wrap: break-word;
        width: 60%;
      }
    }
  }

  .about-me-container {
    width: 100%;
    .me-all {
      margin-left: 5%;
      margin-right: 0;
      overflow-wrap: break-word;
      width: 60%;
      .about-me-title {
        font-size: 1.5rem;
      }
      .about-me-description {
        font-size: 1.2rem;
      }
    }
  }
  .experience-container {
    width: 100%;
    .experience-all {
      margin-left: 5%;
      overflow-wrap: break-word;
    }
    .experience-title {
      font-size: 1.5rem;
    }
    .experience-button-clicked {
      font-size: 1.3rem;
    }
    .experience-button-not-clicked {
      font-size: 1.3rem;
    }
    .experience-position {
      font-size: 1.2rem;
    }
    .experience-date {
      font-size: 1.2rem;
    }
    .experience-description-list {
      font-size: 1.1rem;
    }
    .SE-Environment {
      font-size: 1.1rem;
    }
  }

  .projects-container {
    width: 100%;
    .projects-all {
      margin-left: 3%;
      width: 90%;
      .projects-title {
        font-size: 1.5rem;
      }
    }
    .individual-project {
      .individual-project-title {
        font-size: 1.4rem;
      }
      .individual-project-description {
        font-size: 1.35rem;
      }
      .individual-project-languages {
        font-size: 1.35rem;
      }
    }
  }

  .contact-container {
    width: 100%;
    .contact-all {
      margin-left: 3%;
      width: 90%;
    }
    .contact-title {
      font-size: 1.5rem !important;
    }
    .section1 {
      .contact-label-name {
        font-size: 1.4rem !important;
        margin-top: 30px !important;
      }
      .contact-input-name {
        font-size: 1.3rem !important;
        margin-top: 10px !important;
        margin-bottom: 50px !important;
        width: 100% !important;
      }
    }
    .section2 {
      .contact-label-email {
        font-size: 1.4rem !important;
        margin-top: 30px !important;
      }

      .contact-input-email {
        font-size: 1.3rem !important;
        width: 100% !important;
      }
    }
    .contact-label-message {
      font-size: 1.4rem !important;
    }
    .contact-input-message {
      font-size: 1.3rem !important;
      width: 95% !important;
    }
    .contact-submit-button {
      font-size: 1.4rem !important;
      width: 30% !important;
    }
  }
  .footer-container {
    .built-by {
      font-size: 1.4rem !important;
      margin-left: 20%;
    }
    .view-on-github {
      font-size: 1.4rem !important;
      margin-left: 25%;
    }
  }
}

//Between full screen and iPad view
@media only screen and (max-width: 1250px) and (min-width: 773px) {
  .intro-container {
    width: 100%;
    .sentence_opener {
      text-indent: 26%;
      font-size: 2rem;
      overflow-wrap: break-word;
    }
    .introduction {
      text-indent: 26%;
      font-size: 2rem;
      overflow-wrap: break-word;
    }
    .what-I-Do {
      text-indent: 26%;
      font-size: 2rem;
      overflow-wrap: break-word;
    }
    .description-container {
      width: 100%;
      .description-1 {
        margin-left: 26%;
        font-size: 1.25rem;
        overflow-wrap: break-word;
        width: 40%;
      }
    }
  }

  .about-me-container {
    width: 100%;
    .me-all {
      margin-right: 10%;
      margin-right: 0;
      overflow-wrap: break-word;
      width: 40%;
      .about-me-title {
        font-size: 2rem;
      }
      .about-me-description {
        font-size: 1.25rem;
      }
    }
  }

  .experience-container {
    width: 100%;
    .experience-all {
      overflow-wrap: break-word;
      width: 60%;
      .experience-title {
        font-size: 2rem;
      }
      .experience-button-clicked {
        font-size: 1.35rem;
      }
      .experience-button-not-clicked {
        font-size: 1.35rem;
      }
      .experience-position {
        font-size: 1.25rem;
      }
      .experience-date {
        font-size: 1.25rem;
      }
      .experience-description-list {
        font-size: 1.2rem;
      }
      .SE-Environment {
        font-size: 1.2rem;
      }
    }
  }

  .projects-container {
    width: 100%;
    .projects-all {
      width: 60%;
      .projects-title {
        font-size: 2rem;
      }
    }
    .individual-project {
      .individual-project-title {
        font-size: 1.6rem;
      }
      .individual-project-description {
        font-size: 1.3rem;
      }
      .individual-project-languages {
        font-size: 1.3rem;
      }
    }
  }

  .contact-container {
    width: 100%;
    .contact-all {
      width: 60%;
      .contact-title {
        font-size: 2rem !important;
        .section1 {
          .contact-label-name {
            font-size: 1.75rem !important;
            margin-top: 0px !important;
          }
          .contact-input-name {
            font-size: 1.75rem !important;
            margin-top: 10px !important;
            margin-bottom: 50px !important;
            width: 100% !important;
          }
        }
        .section2 {
          .contact-label-email {
            font-size: 1.75rem !important;
            margin-top: 40px !important;
          }

          .contact-input-email {
            font-size: 1.75rem !important;
            width: 100% !important;
          }
        }
        .contact-label-message {
          font-size: 1.75rem !important;
        }
        .contact-input-message {
          font-size: 1.75rem !important;
          width: 95% !important;
        }
        .contact-submit-button {
          font-size: 1.75rem !important;
          width: 30% !important;
        }
      }
      .footer-container {
        .built-by {
          font-size: 1.6rem !important;
          margin-left: 20%;
        }
        .view-on-github {
          font-size: 1.6rem !important;
          margin-left: 25%;
        }
      }
    }
  }
}

@media (max-width: 1080px) and (min-width: 770px) {
  .contact-all {
    width: 60% !important;
    .contact-input-name {
      width: 150px !important;
      height: 30px !important;
      font-size: 1.1rem !important;
    }
    .contact-input-email {
      width: 150px !important;
      height: 30px !important;
      font-size: 1.1rem !important;
    }
    .contact-input-message {
      width: 80% !important;
      font-size: 1.1rem !important;
    }
  }
}
